
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,form,fieldset,input,textarea,p,blockquote,th,td{
	margin: 0;
	padding: 0;
}
div{
	outline: none;
}

.containerBox{
	width: 80rem;
	height: 45rem;
	position: relative;
}
#container{
	font-size: 16px;
	color: #fff;
	width: 80rem;
	height: 45rem;
	background-color:#232B3E;
	position: relative;
}

/*menuNav*/
#menuNav{
	height: 5.65rem;
	text-align: center;
	font-size: 1.5rem;
	position: relative;
	border-bottom: 0.12rem solid #3C5277;
}
#menuNav span{
	position: absolute;
	bottom: 2rem;
	left: 5rem;
}
#menuOperate{
	height: 5.65rem;
	font-size: 1.25rem;
	border-top: 0.12rem solid #3C5277;
}
#menuOperate .menuOperate{
	margin-left: 26rem;
}
#menuOperate .menuOperate div{
	display: inline-block;
	margin-top: 2rem;
	margin-right: 3rem;
}

/*列表*/
#listContainer{
	width: 80rem;
	height: 29rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
#listContainer .menuList, #showList{
	height: 27rem;
	overflow: hidden;
	position: relative;
	display:inline-block;
}
#listContainer .menuList{
	width: 20rem;
	margin-right: 2rem;
}
#listContainer .menuList .listItem{
	margin-bottom: 2rem;
	/*background-image: url('../img/timg.jpg');
	background-size: 0.75rem 1rem;
	background-repeat: no-repeat;
	background-position: 90% center;*/
}
.menuList .listItem span{
	position: absolute;
	right: 1.5rem;
	top: 1.1rem;
	vertical-align: middle;
	display: inline-block;
	width: 0.6rem;
    height: 0.6rem;
    border-top: 0.2rem solid transparent;
    border-right: 0.2rem solid transparent;
    transform: rotate(45deg);
}
.menuList .listItem.focus span{
    border-color: #232B3E;
}
.menuList .listItem span.itemIcon{
	border-color: #fff;
}
#showList{
	width: 57rem;
}
#showList .showList{
	position: relative;
	top: 0px;
}
.showList .listItem .itemFocusIcon{	
	position: absolute;
	right: 1.5rem;
	top: 1.1rem;
	vertical-align: middle;
	display: inline-block;
	width: 0.6rem;
    height: 0.6rem;
    border-top: 0.2rem solid #fff;
    border-right: 0.2rem solid #fff;
    transform: rotate(45deg);
}
.showList .listItem.focus .itemFocusIcon{
    border-color: #232B3E;
}
.listItem {
	font-size: 1.33rem;
	cursor: pointer;
	text-align: center;
	line-height: 3rem;
	height: 3rem;
	position: relative;
	border-radius: 0.2rem;
}
.listItem.focus{
	background-color:#68CAD5;
	color: #000;
}
.showList .listItem .list{
	margin-left: 1.25rem;
}
.showList .listItem.disabled{
	background: #CDC9C9;
}
.showList .listItem.Video{
	/*background-image:*/
}
.showList .listItem .left{
	position: absolute;
	left: 3rem;
}
.showList .listItem .right{
	position: absolute;
	right: 3rem;
	width: 30rem;
}
.showList .listItem .right .itemNumShow{
	position: absolute;
	right: 1.1rem;
}
.showList .listItem .right .selName{
	width: 20rem;
	text-align: center;
	display: inline-block;
}
.showList .progress{
	display: inline-block;
	position: relative;
	vertical-align: middle;
	height: 0.1rem;
	width: 20rem;
	background: #fff;
}
.showList .progress .front{
	position: absolute;
	top: -0.25rem;
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 50%;
	background: #fff;
}

#showNum{
	position: absolute;
	bottom: 1.8rem;
	left: 2rem;
	background-color: rgba(43,55,79,0.8);
	width: 35rem;
	padding: 2rem 3rem;
	border-radius: 0.2rem;
}
#showNum .title{
	border-bottom: 0.12rem solid #3C5277;
	position: relative;
	padding-bottom: 0.8rem;
}
#showNum .title span{
	position: absolute;
	right: 0;
}
#showNum .progress{
	width: 30rem;
}
#showNum .operate{
	position: relative;
	height: 2rem;
	line-height: 2rem;
	padding-top: 0.8rem;
}
#showNum .operate .left{
	position: absolute;
	left: 0;
	top: 0;
}
#showNum .operate .right{
	position: absolute;
	right: 0;
	top: 0;
}
#showNum .selectBox{
	height: 12rem;
	overflow: hidden;
	position: relative;
}
#showNum .selectList{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

/*channel scan*/
.channelScan{
	font-size: 16px;
}

/*channelSkip*/
#channelSkip{
	overflow: hidden;
}
.channelSkip .listItem{
	position: relative;
	top: 0px;
}
#channelSkip .listItem div.number{
	width: 5rem;
	position: absolute;
	top: 0;
	left: 0;
}
#channelSkip .listItem div.sel{
	color: #CDC9C9;
	width: 5rem;
	position: absolute;
	right: 0;
	top: 0;
}
#channelSkip .listItem .sel.hasSel{
	color: #FF0000;
}
#channelSkip .listItem div.acName{
	margin-left: 5rem;
	margin-right: 5rem;
	text-align: left;
	display:flex;
	flex:1;
}
#channelSkip .listItem div.acName div{
	display: inline-block;
	width: 50%;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

/*Channel Edit Detail*/
#channelEditDetail .listItem div{
	display: inline-block;
}

/*cleanChannelList*/
#popBoxShow{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 999;
	background-color: rgb(35, 43, 62);
	display: none;
	color: #fff;
	font-size: 1.33rem;
}
#popBoxShow .popBoxShow{
	width: 35rem;
	text-align: center;
	line-height: 7rem;
	padding: 10rem 5rem;
}
#popBoxShow .sure,
#popBoxShow .cancel{
	background: #333;
	color: #fff;
	border-radius: 0.5rem;
	display: inline-block;
	width: 6rem;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
}
#popBoxShow .btn .focus{
	background: #68CAD5;
}

/*divXRegistration*/
#divXRegistration div{
	margin-top: 50px;
	font-size: 16px;
}
#divXRegistration .sure{
	border-radius: 10px;
	background: #FF0000;
	width: 80px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	border: 1px solid #FF0000;
}

/*divXDeactivation*/
#divXDeactivation div{
	margin-top: 50px;
	font-size: 16px;
}
#divXDeactivation .item{
	display: inline-block;
	width: 60px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	border-radius: 10px;
	border: 1px solid transparent;
}
#divXDeactivation .item.focus{
	border: 1px solid #FF0000;
}

/*Information*/
#Information span{
	display: inline-block;
	width: 200px;
	text-align: center;
}

/*changePassword*/
#changePassword .listItem div:first-child{
	width: 21%;
	position: absolute;
	top: 0;
	left: 0;
}
#changePassword .listItem .input{
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
}

/*IPSetting*/
#IPSetting .listItem,
#ipv6Config .listItem{
	position: relative;
}
#IPSetting .listItem .label,
#ipv6Config .listItem .label{
	position: absolute;
	top: 0;
	left: 0;
}
#IPSetting .listItem .content,
#ipv6Config .listItem .content{
	position: absolute;
	top: 0;
	right: 0;
}
#IPSetting .listItem .content div,
#ipv6Config .listItem .content div{
	display: inline-block;
}
#IPSetting .inputItem,
#ipv6Config .inputItem{
	width: 80px;
	background: #CDC9C9;
	border-radius: 7px;
	height: 30px;
	vertical-align: middle;
	border: 1px solid transparent;
}
#IPSetting .inputItem.focus,
#ipv6Config .inputItem.focus{
	border-color: #FF0000;
}

/*versionInfo*/
.versionInfo div{
	display: inline-block;
}


/*timeSetupTime*/
#timeSetupTime .listItem div{
	display: inline-block;
}
#timeSetupTime .listItem{
	text-align: left;
	padding: 0 2rem;
	position: relative;
}
#timeSetupTime .content{
	position: absolute;
	right: 2rem;
}
#timeSetupTime span{
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    border-top: 0.2rem solid #fff;
    border-right: 0.2rem solid #fff;
    transform: rotate(45deg);
    margin-bottom: 0.1rem;
    margin-left: 1rem;
}
#timeSetupTime .listItem.focus span{
	border-color: #232B3E;
}
#timeSetupTime .inputItem.inputFocus{
	color: #FF0000;
}
#wirelessSetting .listItem{
	text-align: left;
	padding: 0 2rem;
}
#wirelessSetting .listItem.focus{	
	background: #68CAD5;
}
#wirelessScan .scanContent{
	padding: 2rem 4rem;
}
#wirelessScan .ssid{
	display: inline-block;
	width: 20rem;
}
#wirelessScan .security{
	display: inline-block;
	width: 30rem;
	text-align: center;
}
#wirelessScan .signal{
	display: inline-block;
	width: 20rem;
	text-align: right;
}
#wirelessScan .scanOperate div{
	display: inline-block;
}
#wirelessScan .listItem{
	text-align: left;
}
#wirelessScan .scanGuide{
	margin-bottom: 1rem;
}
#wirelessScan .listContent{
	height: 27rem;
	overflow: hidden;
	position: relative;
}
#wirelessScan .scanList{
	position: absolute;
	top: 0;
	width: 100%;
}
#wirelessScan .inputkey{
	border: 0.125rem solid #68CAD5;
	height: 3rem;
	line-height: 3rem;
	border-radius: 0.15rem;
}

/*password*/
#password .input{
	border: 0.15rem solid #68CAD5;
	height: 3rem;
	line-height: 3rem;
	border-radius: 0.25rem;
}
/**/
.analogManualScan .listItem span,
#cableChannelScanStart .rt span{
	position: absolute;
	right: 1.5rem;
	top: 1.1rem;
	vertical-align: middle;
	display: inline-block;
	width: 0.6rem;
    height: 0.6rem;
    border-top: 0.2rem solid #fff;
    border-right: 0.2rem solid #fff;
    transform: rotate(45deg);
}
.analogManualScan .listItem .input{
	display: inline-block;
}
/*cableChannelScan*/
#cableChannelScanStart .listItem{
	text-align: left;
}
#cableChannelScanStart .listItem div{
	display: inline-block;
}
#cableChannelScanStart .scanModeItem{
	position: relative;
	height: 3rem;
	line-height: 3rem;
	background: #CDC9C9;
}
#cableChannelScanStart .lf{
	position: absolute;
	left: 0;
	top: 0;
	width: 30rem;
}
#cableChannelScanStart .mid{
	margin-left: 30rem;
	margin-right: 5rem;
}
#cableChannelScanStart .rt{
	position: absolute;
	right: 0;
	top: 0;
	width: 5rem;
}
#cableChannelScanStart .focus .rt span{
	border-color: #000;
}
/* cableSingleRFScan */
.scanList .listItem,
.scanList .listItemDisabled{
	padding: 0 3rem;
	margin: 1rem 0;
}
.scanList .listItemDisabled{
	text-align: center;
}
.scanList .listItem div,
.scanList .listItemDisabled div{
	display: inline-block;
}
.scanList .lf{
	width: 21rem;
	text-align: left;
}
.scanList .mid{
	width: 22rem;
}
.scanList .rt{
	width: 7rem;
	position: relative;
}
.scanList .rt span{
	display: inline-block;
	width: 0.6rem;
    height: 0.6rem;
    border-top: 0.2rem solid #fff;
    border-right: 0.2rem solid #fff;
    transform: rotate(45deg);
}
.scanList .mid .inputNum{
	background: #fff;
	height: 2rem;
	line-height: 2rem;
	width: 100%;
	color: #000;
}
.scanList .focus .mid .inputNum{
	background: #000;
	color: #fff;
}
.scanList .mid.progress,
.scanProgress .progress{
	display: inline-block;
	position: relative;
	vertical-align: middle;
	height: 0.1rem;
	width: 22rem;
	background: #fff;
}
.scanList .mid.progress .front,
.scanProgress .progress .front{
	position: absolute;
	top: -0.25rem;
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 50%;
	background: #fff;
}
.scanProgress{
	width: 30rem;
	margin: 0 auto;
}
.scanProgressItem{
	height: 3rem;
	line-height: 3rem;
}
.scanProgressItem div{
	display: inline-block;
}

