
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,form,fieldset,input,textarea,p,blockquote,th,td{
	margin: 0;
	padding: 0;
}
html,body{
	font-size: 0.75rem;
}
div{
	outline: none;
}

.containerBox{
	width: 80rem;
	height: 45rem;
	position: relative;
}
#container{
	font-size: 16px;
	color: #fff;
	width: 80rem;
	height: 45rem;
	background-color:#232B3E;
	position: relative;
}

/*menuNav*/
#menuNav{
	height: 5.65rem;
	text-align: center;
	font-size: 1.5rem;
	position: relative;
	border-bottom: 0.12rem solid #3C5277;
}
#menuNav span{
	position: absolute;
	bottom: 2rem;
	left: 5rem;
}
#menuOperate{
	height: 5.65rem;
	font-size: 1.25rem;
	border-top: 0.12rem solid #3C5277;
}
#menuOperate .menuOperate{
	margin-left: 26rem;
}
#menuOperate .menuOperate div{
	display: inline-block;
	margin-top: 2rem;
	margin-right: 3rem;
}

/*列表*/
#listContainer{
	width: 80rem;
	height: 29rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
#listContainer .menuList, #showList{
	height: 29rem;
	overflow: hidden;
	display:inline-block;
}
#listContainer .menuList{
	width: 20rem;
	margin-right: 2rem;
}
#listContainer .menuList .listItem{
	margin-bottom: 2rem;
	/*background-image: url('../img/timg.jpg');
	background-size: 0.75rem 1rem;
	background-repeat: no-repeat;
	background-position: 90% center;*/
}
.menuList .listItem span{
	position: absolute;
	right: 1.5rem;
	top: 1.1rem;
	vertical-align: middle;
	display: inline-block;
	width: 0.6rem;
    height: 0.6rem;
    border-top: 0.2rem solid transparent;
    border-right: 0.2rem solid transparent;
    transform: rotate(45deg);
}
.menuList .listItem.focus span{
    border-color: #232B3E;
}
.menuList .listItem span.itemIcon{
	border-color: #fff;
}
#showList{
	width: 57rem;
}
#showList .showList{
	height: 27rem;
	overflow: hidden;
}
.showListContainer{
	position: relative;
	top: 0px;
}
.showList .listItem .itemFocusIcon{	
	position: absolute;
	right: 1.5rem;
	top: 1.1rem;
	vertical-align: middle;
	display: inline-block;
	width: 0.6rem;
    height: 0.6rem;
    border-top: 0.2rem solid #fff;
    border-right: 0.2rem solid #fff;
    transform: rotate(45deg);
}
.showList .listItem.focus .itemFocusIcon{
    border-color: #232B3E;
}
.listItem {
	font-size: 1.33rem;
	cursor: pointer;
	text-align: center;
	line-height: 3rem;
	height: 3rem;
	position: relative;
	border-radius: 0.2rem;
}
.listItem.focus{
	background-color:#68CAD5;
	color: #000;
}
.showList .listItem .list{
	margin-left: 1.25rem;
}
.showList .listItem.disabled{
	background: #CDC9C9;
}
.showList .listItem.Video{
	/*background-image:*/
}
.showList .listItem .left{
	position: absolute;
	left: 3rem;
}
.showList .listItem .right{
	position: absolute;
	right: 3rem;
	width: 30rem;
}
.showList .listItem .right .itemNumShow{
	position: absolute;
	right: 1.1rem;
}
.showList .listItem .right .selName{
	width: 20rem;
	text-align: center;
	display: inline-block;
}
.showList .progress{
	display: inline-block;
	position: relative;
	vertical-align: middle;
	height: 0.1rem;
	width: 20rem;
	background: #fff;
}
.showList .progress .front{
	position: absolute;
	top: -0.25rem;
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 50%;
	background: #fff;
}

/* popBox */
#popBoxShow{
	width: 80rem;
	height: 45rem;
	overflow: hidden;
}
#popBoxShow .popBoxShow{
	width: 40rem;
	text-align: center;
	height: 15rem;
	background: rgba(0,0,0,0.5);
	margin-left: 20rem;
	margin-top: 15rem;
	border-radius: 0.6rem;
	color: #fff;
	overflow: hidden;
}
#popBoxShow .title{
	margin: 2rem 0;
	font-size: 1.6rem;
}
#popBoxShow .sure,
#popBoxShow .cancel{
	background: #FC5241;
	color: #fff;
	border-radius: 0.2rem;
	display: inline-block;
	width: 9rem;
	height: 2.5rem;
	line-height: 2.5rem;
	text-align: center;
}
#popBoxShow .sure{
	margin-right: 2rem;
}
#popBoxShow .btn .focus{
	background: #68CAD5;
	color: #000;
}
#popBoxSelect{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 999;
	background-color: rgb(35, 43, 62);
	display: none;
	color: #fff;
	font-size: 1.33rem;
}
#showNum{
	position: absolute;
	bottom: 1.8rem;
	left: 2rem;
	background-color: rgba(43,55,79,0.8);
	width: 35rem;
	padding: 2rem 3rem;
	border-radius: 0.2rem;
}
#showNum .title{
	border-bottom: 0.12rem solid #3C5277;
	position: relative;
	padding-bottom: 0.8rem;
}
#showNum .title span{
	position: absolute;
	right: 0;
}
#showNum .progress{
	margin: 3.5rem 0;
}
#showNum .progress div{
	display: inline-block;
}
#showNum .progress .progressBar{
	width: 30rem;
	height: 0.1rem;
	background: #fff;
	vertical-align: middle;
	position: relative;
}
#showNum .progress .front{
	position: absolute;
	top: -0.25rem;
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 50%;
	background: #fff;
}
#showNum .progress .progressNum{
	width: 4rem;
	text-align: right;
}
#showNum .operate{
	position: relative;
	height: 2rem;
	line-height: 2rem;
	padding-top: 0.8rem;
}
#showNum .operate .left{
	position: absolute;
	left: 0;
	top: 0;
}
#showNum .operate .right{
	position: absolute;
	right: 0;
	top: 0;
}
#showNum .selectBox{
	height: 12rem;
	overflow: hidden;
	position: relative;
}
#showNum .selectList{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

/*channel scan*/
.channelScan{
	font-size: 16px;
}
/*channelSkip*/
.channelSkip{
	overflow: hidden;
	padding-right: 2rem;
}
.channelSkip .listItem{
	position: relative;
	top: 0px;
}
.channelSkip .listItem div.number{
	width: 6rem;
	position: absolute;
	top: 0;
	left: 0;
}
.channelSkip .listItem div.sel{
	color: #CDC9C9;
	width: 6rem;
	position: absolute;
	right: 0;
	top: 0;
	/* background-image: url(); 圆圈*/
}
.channelSkip .listItem .sel.hasSel{
	color: #FF0000;
	/* background-image: url(); 对勾*/
}
.channelSkip .listItem .sel.hasSel.locked{
	/* background-image: url(); 锁定*/
}
.channelSkip .listItem div.acName{
	margin-left: 6rem;
	margin-right: 6rem;
	text-align: left;
	display:flex;
	flex:1;
}
.channelSkip .listItem div.acName div{
	display: inline-block;
	width: 50%;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

/*Channel Edit Detail*/
#channelEditDetail .listItem div{
	display: inline-block;
}


/* channel scan */
.scanList .listItem{
	padding: 0 3rem;
	margin-bottom: 1rem;
}
.scanList .listItem div{
	display: inline-block;
}
.scanList .lf{
	width: 21rem;
	text-align: left;
}
.scanList .mid{
	width: 22rem;
}
.scanList .rt{
	width: 7rem;
	position: relative;
	text-align: right;
}
.scanList .rt span{
	display: inline-block;
	width: 0.6rem;
    height: 0.6rem;
    border-top: 0.2rem solid #fff;
    border-right: 0.2rem solid #fff;
	transform: rotate(45deg);
	position: relative;
	top: -0.1rem;
	right: 0.3rem;
}
.scanList .focus .rt span{
	border-color: #000;
}
.scanList .mid .inputNum{
	background: #fff;
	height: 2rem;
	line-height: 2rem;
	width: 100%;
	color: #000;
	border-radius: 0.3rem;
	vertical-align:text-top;
}
.scanList .focus .mid .inputNum{
	background: #000;
	color: #fff;
}
.scanList .mid.progress{
	display: inline-block;
	position: relative;
	vertical-align: middle;
	height: 0.1rem;
	width: 22rem;
	background: #fff;
}
.scanList .mid.progress .front{
	position: absolute;
	top: -0.25rem;
	width: 0.6rem;
	margin-left: -0.3rem;
	height: 0.6rem;
	border-radius: 50%;
	background: #fff;
}
.scanList .disabled{
	color: #999;
}
.scanList .disabled .mid .inputNum{
	background: #999;
}
.scanList .disabled .rt span{
	border-color: #999;
}
/* cableChannelScanStart */
#cableChannelScanStart .scanList .inputNum{
	vertical-align: text-top;
}
/* OperaSateChannelEdit */
#operaSatelliteEdit .scanList .listItem{
	margin: 0;
}
#operaSatelliteEdit{
	position: relative;
	height: 100%;
}
#operaSatelliteDiSEqC{
	position: relative;
	height: 100%;
}
#operaSatelliteDiSEqC .signal{
	position: absolute;
	bottom: 0;
	width: 100%;
}
#operaSatelliteDiSEqCMotor .listItem{
	margin: 0;
}
/* Information */
#Information.scanList .mid,
#IPv6Information.scanList .mid{
	width: 16rem;
}
#Information.scanList .rt,
#IPv6Information.scanList .rt{
	width: 13rem;
}
#Information.scanList .listItem{
	margin: 0 0 0.5rem;
}
#IPv6Information.scanList .listItem{
	margin: 0;
}
#favouriteNetworkPopUp .listItem{
	text-align: left;
}
#lcnConflictPopUp .listItem{
	margin: 0;
}
#systemInformation{
	padding: 0 4rem 0 2rem;
}
.scanProgressItem{
	margin-bottom: 1rem;
}
.scanProgressItem div{
	display: inline-block;
}
.scanProgress .lf{
	width: 13rem;
}
.scanProgress .mid{
	width: 30rem;
}
.scanProgress .mid .progress{
	position: relative;
	vertical-align: middle;
	height: 0.4rem;
	width: 30rem;
	background: #000;
}
.scanProgress .progress .front{
	background: #39C57C;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}
.scanProgress .rt{
	width: 7rem;
	text-align: right;
}
#systemInformation .sysInfoList{
	margin-top: 3rem;
}
#systemInformation .sysInfoListItem{
	display: inline-block;
	width: 25rem;
	margin-bottom: 1rem;
}
#systemInformation .sysInfoListItem div{
	display: inline-block;
	width: 12rem;
}
#systemInformation .sysInfoListItem div.name{
	margin-right: 0.5rem;
}
#versionInfo.scanList .lf{
	width: 15rem;
}
#versionInfo.scanList .listItem{
	text-align: left;
}
/*divXRegistration*/
#divXRegistration{
	padding-left: 2rem;
}
#divXRegistration .content div{
	height: 3rem;
	line-height: 3rem;
}
#divXRegistration .btn{
	margin-top: 2rem;
}
#divXRegistration .btn div{
	border-radius: 0.2rem;
	background: #FC5241;
	width: 9rem;
	height: 2.5rem;
	line-height: 2.5rem;
	text-align: center;
	display: inline-block;
	margin-right: 2rem;
}
#divXRegistration .btn .focus{
	background: #68CAD5;
	color: #000;
}

#divXDeactivation div{
	height: 3rem;
	line-height: 3rem;
}
#divXDeactivation .item.focus{
	border: 1px solid #FF0000;
}


/*IPSetting*/
#IPSetting .listItem,
#ipv6Config .listItem{
	position: relative;
}
#IPSetting .listItem .label,
#ipv6Config .listItem .label{
	position: absolute;
	top: 0;
	left: 0;
}
#IPSetting .listItem .content,
#ipv6Config .listItem .content{
	position: absolute;
	top: 0;
	right: 0;
}
#IPSetting .listItem .content div,
#ipv6Config .listItem .content div{
	display: inline-block;
}
#IPSetting .inputItem,
#ipv6Config .inputItem{
	width: 80px;
	background: #CDC9C9;
	border-radius: 7px;
	height: 30px;
	vertical-align: middle;
	border: 1px solid transparent;
}
#IPSetting .inputItem.focus,
#ipv6Config .inputItem.focus{
	border-color: #FF0000;
}

/*versionInfo*/
.versionInfo div{
	display: inline-block;
}


/*timeSetupTime*/
#timeSetupTime .scanList .setupInput .mid{
	height: 2rem;
	background: #fff;
	border-radius: 0.3rem;
	vertical-align: text-top;
	background-color: #fff;
	color: #000;
	line-height: 2rem;
}
#timeSetupTime .scanList .setupInput.disabled .mid{
	background: #999;
}
#timeSetupTime .scanList .setupInput.focus .mid{
	background: #000;
	color: #fff;
}
#timeSetupTime .scanList .listItem{
	margin: 0.5rem 0 0;
}



#wirelessSetting .listItem{
	text-align: left;
	padding: 0 2rem;
}
#wirelessSetting .listItem.focus{	
	background: #68CAD5;
}
#wirelessScan .scanContent{
	padding: 2rem 4rem;
}
#wirelessScan .ssid{
	display: inline-block;
	width: 20rem;
}
#wirelessScan .security{
	display: inline-block;
	width: 30rem;
	text-align: center;
}
#wirelessScan .signal{
	display: inline-block;
	width: 20rem;
	text-align: right;
}
#wirelessScan .scanOperate div{
	display: inline-block;
}
#wirelessScan .listItem{
	text-align: left;
}
#wirelessScan .scanGuide{
	margin-bottom: 1rem;
}
#wirelessScan .listContent{
	height: 27rem;
	overflow: hidden;
	position: relative;
}
#wirelessScan .scanList{
	position: absolute;
	top: 0;
	width: 100%;
}
#wirelessScan .inputkey{
	border: 0.125rem solid #68CAD5;
	height: 3rem;
	line-height: 3rem;
	border-radius: 0.15rem;
}

/*password*/
#password .input{
	border: 0.15rem solid #68CAD5;
	height: 3rem;
	line-height: 3rem;
	border-radius: 0.25rem;
}

/******factory menu*********/
#fctoryMenuList{
	height: 27rem;
	overflow: hidden;
}
#fctoryMenuList .scanList{
	position: relative;
	top: 0;
}
#fctoryMenuList .listItem,
#PALSyatem .listItem,
#A2System .listItem{
	margin: 0;
}
#fctoryMenuList .scanList .listItem>div{
	overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
	height:100%;
}
#fctoryMenuList .progress{
	display: inline-block;
	position: relative;
	vertical-align: middle;
	height: 0.1rem;
	width: 20rem;
	margin: 0 auto;
	background: #fff;
}
#fctoryMenuList .progress .front{
	position: absolute;
	top: -0.25rem;
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 50%;
	background: #fff;
	margin-left: -0.3rem;
}
#PALSyatem{
	height: 27rem;
	overflow: hidden;
}

